body{
font-family:sans-serif;
background:#f0fdf4;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#065f46;
color:white;
}

nav{
display:flex;
justify-content:space-around;
background:#047857;
padding:10px;
}

nav button{
color:white;
}

.tab{
display:none;
padding:20px;
}

.tab.active{
display:block;
}

.arabic{
font-family:'Amiri';
font-size:28px;
text-align:right;
}

.dark{
background:#0f172a;
color:white;
}
